<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>HR application - Employees</title>
</head>
<body>

<h1>List of employees</h1>
	<ul>
		<li th:each="employee : ${employees}">
			<span th:text="${employee.id}">id</span>
			<span th:text="${employee.name}">name</span>
			<span th:text="${employee.post}">post</span>
			<span th:text="${employee.payment}">payment</span>
			<span th:text="${employee.startingDate}">startingDate</span>
		</li>
	</ul>
	
	
	
	<form th:action="@{/employees}" method="post" th:object="${newEmployee}">
		Id: <input th:field="*{id}"/> <br/> 
		Name: <input th:field="*{name}"/> <br/> 
		Post: <input th:field="*{post}"/> <br/> 
		Payment: <input th:field="*{payment}"/> <br/>
		StartingDate: <input th:field="*{startingDate}"/> <br/>
		<input type="submit" value="Add" />
	</form>
	


</body>
</html>